*{margin: 0; padding: 0;}
body{
	background: #f8f8f8;
	overflow-x:hidden;
}

/* Trazendo as seçoes do core */

#top{

	width: 100%;
	height: 50px;
	background: #556B2F;
	padding-top: 10px;
}
#top h1{color:white;}

.menu{
list-style:none; 
border:1px solid #c0c0c0; 
float:left; 
background: #dfdfdf;
width: 100%;
}

.menu li{
position:relative;
float:left;
border-right:1px solid #c0c0c0;
}

.menu li a{color:#333; text-decoration:none; padding:5px 10px; display:block;}
 
.menu li a:hover{
background:#556B2F;
color:#fff;
-moz-box-shadow:0 3px 10px 0 #CCC;
-webkit-box-shadow:0 3px 10px 0 #ccc;
text-shadow:0px 0px 5px #fff;

}

.CSSTableGenerator {
	margin:20px;padding:0px;
	width:90%;
	box-shadow: 10px 10px 5px #888888;
	border:1px solid #000000;
	
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
	
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
	
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
	
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}.CSSTableGenerator table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.CSSTableGenerator tr:last-child td:last-child {
	-moz-border-radius-bottomright:0px;
	-webkit-border-bottom-right-radius:0px;
	border-bottom-right-radius:0px;
}
.CSSTableGenerator table tr:first-child td:first-child {
	-moz-border-radius-topleft:0px;
	-webkit-border-top-left-radius:0px;
	border-top-left-radius:0px;
}
.CSSTableGenerator table tr:first-child td:last-child {
	-moz-border-radius-topright:0px;
	-webkit-border-top-right-radius:0px;
	border-top-right-radius:0px;
}.CSSTableGenerator tr:last-child td:first-child{
	-moz-border-radius-bottomleft:0px;
	-webkit-border-bottom-left-radius:0px;
	border-bottom-left-radius:0px;
}.CSSTableGenerator tr:hover td{
	
}
.CSSTableGenerator tr:nth-child(odd){ background-color:#7f7f7f; }
.CSSTableGenerator tr:nth-child(even)    { background-color:#ffffff; }.CSSTableGenerator td{
	vertical-align:middle;	
	border:1px solid #000000;
	border-width:0px 1px 1px 0px;
	text-align:left;
	padding:08px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000000;
}.CSSTableGenerator tr:last-child td{
	border-width:0px 1px 0px 0px;
}.CSSTableGenerator tr td:last-child{
	border-width:0px 0px 1px 0px;
}.CSSTableGenerator tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.CSSTableGenerator tr:first-child td{
	background:-o-linear-gradient(bottom, #dfdfdf 5%, #ccc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ccc) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#dfdfdf", endColorstr="#ccc");	background: -o-linear-gradient(top,#dfdfdf,#ccc);

	background-color:#ccc;
	border:0px solid #000000;
	text-align:left;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#000;
}
.CSSTableGenerator tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #dfdfdf 5%, #cccc 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ccc), color-stop(1, #ccc) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ccc 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#dfdfdf", endColorstr="#ccc");	background: -o-linear-gradient(top,#dfdfdf,ccc);

	background-color:#ccc;
}
.CSSTableGenerator tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.CSSTableGenerator tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}

.form_service{
	width: 600px;
	border: 1px solid #ccc;
	float: left;
	margin-left: 25%;
	padding:30px;
}
.field input[type="text"],
.field input[type="email"],
.field input[type="url"],
.field input[type="tel"],
.field select,
.field textarea {
    padding: 0.2em;
    border: 1px solid #000;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.2);
    display: block;
}
 
.field select option {
    padding-right: 1em;
}
 
.field input:focus, .field select:focus, .field textarea:focus {
    background: #FFC;
}
label{font-weight: bold;}

.field label.checkbox {
    color: #000;
    display: inline-block;
    margin-right: 1em;
}