<h1>Passagem de Serviço do Permanência ao ETI</h1>
<h2>Militar: <%= @militar %></h2>
<h2>Data de envio: <%= Time.now.strftime("%d/%m/%Y %H:%M") %></h2>

<p><strong>Teste</p>

<p><strong></p>



<p><strong>Mensagem:</strong></p>
<p></p>