<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Disparando a passagem de serviço do militar, <%= @user %>!</h1>
    <p>Não responda este email!</p>
  </body>
</html>
