<!DOCTYPE html>
<html>
<head>
  <title>Passagem de Serviço - ETI</title>
  <link rel="stylesheet" type="text/css" href="/core2.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<section id="top">
	<center><h1>ETI - PASSAGEM DE SERVIÇO</h1></center>
</section>

<%= yield %>
<div id="rodape">
	<br />
	<center><h4 style="color:white;">Seção de Desenvolvimento | ETI - BACG | 2015</h4></center>
</div>
</body>
</html>
